body{
	background: #edf8fa;
	margin: 0;
	padding: 0;
	width: 100%
}
#content{
	width: 100%
	padding: 0;
	margin: 0;
	font: 100% "benchnine", sans-serif;
}
/*beginning of header and nav markup*/

header {
	padding: 0px;
	margin: 0px;
}
#logo {
	width: 31.3%;
	float: left;
}
h1 {
	width: 100%;
	max-width: 100%
	font-weight: normal;
	font: 6.3em "Ruthie", cursive;
	color: #890f01;
	margin: 0;
	padding: 0;
}
#navy {
	color: navy;
}
#logo img {
	max-width: 100%;
}
nav{
	width: 68.8%;
	height: 100%;
	margin: 0px 31.3%;
	padding-top: 1%;
}
nav ul{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	border-top: 2px solid navy;
	border-bottom: 2px solid navy;
}
nav li{
	width: 12.5%;
	background: white;
	float: left;
}
nav li a {
	font-size: 1.25em;
	color: 	#890f01;
	text-align: center;
	text-decoration: none;
	display: block;
	height: 24px;
	line-height: 24px;
}
nav li a:visited {
	color: navy;
}
nav li a:hover {
	text-shadow: 2px 2px 3px silver;
}
nav li a:active {
	color: #edf8fa;
}
/*end of header and navigation*/

p {
	font-family: 'benchnine', sans-serif;
}
#about {
	width: 85%;
	font-size: 1.25em;
	margin: 0 auto;
	padding: 8px;
	clear: left;
	/*-moz-column-count: 3;*/
}
#about p {
	 margin: 0px;
}
article {
	width: 85%;
	margin: 0px auto 2%;
	background: white;
	border: 2px solid navy;
	border-radius: 10px;
	padding: 0px;
	box-shadow: 3px 3px 6px #8290e8;
	clear: both;
	overflow: hidden;
}
.articleleft {
	float: left;
	width: 28%;
	box-shadow: 5px 0px 4px #f0f0f0;
	padding: 0px;
}
article header {
	max-width: 100%;
}
article header h1 {
	text-align: center;
	display: block;
	max-width: 90%;
	margin: 2% auto 0px;
}
article p {
	font-size: 1.25em;
	color: navy;
	margin: 0px 4% 5%;
}
div.gallery {
	width: 72%;
	margin: 2% 0px 0px 28%;
	overflow: hidden;
	border-top: 3px solid #890f01;
	border-bottom: 3px solid #890f01;
	background: #edf8fa;
}
.gallery ul {
	padding: 0px;
	/*margin: 2% 0px;*/
	height: 158px;
}
.gallery li {
	list-style-type: none;
	float: left;
	margin-left: 10%;
	box-shadow: 3px 3px 8px #8290e8;
}
.gallery a {
	display: block;
	width: 150px;
	height: 150px;
	border: 3px solid #890f01;
}
.gallery a:visited {
	border: 3px solid navy;
}
.gallery a:hover {
	width: 158px;
	height: 158px;
}
.gallery a:active {
	border: 3px solid #edf8fa;
}
.gallery img {
	width: 100%;
	max-width: 100%;
}
div.seemore {
	max-width: 100%;
	margin: 0px 2% 3% 0px;
}
.seemore a {
	text-decoration: none;
	color: 	#890f01;
	display: block;
	float: right;
}
.seemore a:visited {
	color: navy;
}
.seemore a:hover {
	text-shadow: 2px 2px 3px silver;
}
.seemore a:active {
	color: #edf8fa;
}