body{
	background: #edf8fa;
	margin: 0px;
	padding: 0px;
	width: 100%
}
#content{
	width: 100%
	padding: 0px;
	margin: 0px;
	/*background: white;
	width: 630px;
	*/
}

/*beginning of header and nav markup*/

header {
	font-size: 18px;
	padding: 0px;
	margin: 0px;
	/*height: 45px;*/
}
#logo {
	width: 28.5714286%;
	float: left;
}
#logo img {
	max-width: 100%;
}
/*h1 {
	float: left;
	color: dark-red;
	font-size: 280%;
	margin: 0;
	width: 28.5714286%;
	text-shadow: 2px 2px 3px #111;
}*/
nav{
	width: 71.6%;
	height: 100%;
	margin: 0px 28.5714286%;
	padding-top: 1%;
}
nav ul{
	/*width: 100%;
	margin: 0 auto;*/
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
nav li{
	width: 12.5%;
	background: white;
	float: left;
}
nav li a {
	color: 	#890f01;
	text-align: center;
	text-decoration: none;
	display: block;
	height: 22px;
	line-height: 22px;
	font-family: 'benchnine', sans-serif;
}
nav li a:visited {
	color: navy;
}
nav li a:hover {
	text-shadow: 2px 2px 3px silver;
}
nav li a:active {
	color: white;
}
/*end of header and navigation*/

p {
	font-family: 'benchnine', sans-serif;
}

#about {
	width: 85%;
	font-size: 20px;
	margin: 0 auto;
	padding: 8px;
	clear: left;
	/*-moz-column-count: 3;*/
}
#about p {
	 margin: 0px;
}
article {
	width: 85%;
	margin: 0px auto 2%;
	background: white;
	border: 2px solid navy;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 3px 3px 6px navy;
	clear: both;
	overflow: hidden;
}
.articleleft {
	float: left;
	width: 28%;
	box-shadow: 5px 0px 4px #F0F0F0;
}
article header {
	max-width: 100%;
}
article header img {
	display: block;
	max-width: 90%;
	margin: 2% auto 0px;
}
article p {
	color: navy;
	font-size: 1.2em;
	margin: 0px 2% 2%;
}
div.gallery {
	width: 72%;
	margin-left: 28%;
	overflow: hidden;
}
.gallery ul {
	padding: 0px;
	margin-top: 5%;
}
.gallery li {
	list-style-type: none;
	float: left;
	margin-left: 10%;
	border: 4px solid #890f01;
	box-shadow: 5px 5px 8px navy;
}
.gallery a {
	display: block;
	width: 150px;
	height: 150px;
}
.gallery img {
	max-width: 100%;
}
div.title {
	width: 280px;
	float: left;
	border: 2px solid black;
	}